 body {
    color: whitesmoke;
    text-align: center;
    background-color: black;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
    height: 704px;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 100px;
 }

 .square {
    flex: 1 1 auto;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border: 1px solid whitesmoke;
 }

 #resizeGrid {
    background-color: black;
    color: whitesmoke;
    width: 125px;
    height: 40px;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 20px;
 }

 #resizeGrid:hover {
    background-color: pink;
 }