 body, html {
    margin: 0;
    padding: 0;
    height: 50%;
    background-color: black;
 }

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 400px;
    margin-bottom: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.squareGrids {
    background: black;
    width: 16px;
    height: 16px;
    margin: 1px;
}